debian filter=lfs diff=lfs merge=lfs -text
fetch_indirect_syscall_args.c filter=lfs diff=lfs merge=lfs -text
linux filter=lfs diff=lfs merge=lfs -text
netlink_kobject_uevent.c filter=lfs diff=lfs merge=lfs -text
sram_alloc.c filter=lfs diff=lfs merge=lfs -text
sysinfo.c filter=lfs diff=lfs merge=lfs -text
fstatfs64.c filter=lfs diff=lfs merge=lfs -text
iopl.c filter=lfs diff=lfs merge=lfs -text
mq.c filter=lfs diff=lfs merge=lfs -text
print_timeval.c filter=lfs diff=lfs merge=lfs -text
renameat.c filter=lfs diff=lfs merge=lfs -text
scno.am filter=lfs diff=lfs merge=lfs -text
sg_io_v4.c filter=lfs diff=lfs merge=lfs -text
strace.spec.in filter=lfs diff=lfs merge=lfs -text
userfaultfd.c filter=lfs diff=lfs merge=lfs -text
bpf.c filter=lfs diff=lfs merge=lfs -text
getcpu.c filter=lfs diff=lfs merge=lfs -text
getpagesize.c filter=lfs diff=lfs merge=lfs -text
largefile_wrappers.h filter=lfs diff=lfs merge=lfs -text
rtnl_tc_action.c filter=lfs diff=lfs merge=lfs -text
ucopy.c filter=lfs diff=lfs merge=lfs -text
dyxlat.c filter=lfs diff=lfs merge=lfs -text
filter.h filter=lfs diff=lfs merge=lfs -text
mpers_type.h filter=lfs diff=lfs merge=lfs -text
netlink_route.c filter=lfs diff=lfs merge=lfs -text
sigreturn.c filter=lfs diff=lfs merge=lfs -text
ipc_shm.c filter=lfs diff=lfs merge=lfs -text
lseek.c filter=lfs diff=lfs merge=lfs -text
xfs_quota_stat.h filter=lfs diff=lfs merge=lfs -text
AUTHORS filter=lfs diff=lfs merge=lfs -text
mknod.c filter=lfs diff=lfs merge=lfs -text
mtd.c filter=lfs diff=lfs merge=lfs -text
nlattr.c filter=lfs diff=lfs merge=lfs -text
printers.h filter=lfs diff=lfs merge=lfs -text
print_timex.c filter=lfs diff=lfs merge=lfs -text
process.c filter=lfs diff=lfs merge=lfs -text
quota.c filter=lfs diff=lfs merge=lfs -text
readahead.c filter=lfs diff=lfs merge=lfs -text
retval.h filter=lfs diff=lfs merge=lfs -text
sync_file_range2.c filter=lfs diff=lfs merge=lfs -text
xattr.c filter=lfs diff=lfs merge=lfs -text
ChangeLog filter=lfs diff=lfs merge=lfs -text
config.sub filter=lfs diff=lfs merge=lfs -text
print_ifindex.c filter=lfs diff=lfs merge=lfs -text
rtnl_rule.c filter=lfs diff=lfs merge=lfs -text
wait.c filter=lfs diff=lfs merge=lfs -text
aio.c filter=lfs diff=lfs merge=lfs -text
bjm.c filter=lfs diff=lfs merge=lfs -text
caps0.h filter=lfs diff=lfs merge=lfs -text
fanotify.c filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
or1k_atomic.c filter=lfs diff=lfs merge=lfs -text
personality.c filter=lfs diff=lfs merge=lfs -text
static_assert.h filter=lfs diff=lfs merge=lfs -text
strace.1.in filter=lfs diff=lfs merge=lfs -text
truncate.c filter=lfs diff=lfs merge=lfs -text
bpf_fprog.h filter=lfs diff=lfs merge=lfs -text
config.h.in filter=lfs diff=lfs merge=lfs -text
fetch_struct_statfs.c filter=lfs diff=lfs merge=lfs -text
ipc_msgctl.c filter=lfs diff=lfs merge=lfs -text
mem.c filter=lfs diff=lfs merge=lfs -text
s390.c filter=lfs diff=lfs merge=lfs -text
sparc.c filter=lfs diff=lfs merge=lfs -text
utime.c filter=lfs diff=lfs merge=lfs -text
ioctl_iocdef.i filter=lfs diff=lfs merge=lfs -text
perf_ioctl.c filter=lfs diff=lfs merge=lfs -text
strace-log-merge filter=lfs diff=lfs merge=lfs -text
tests-mx32 filter=lfs diff=lfs merge=lfs -text
cacheflush.c filter=lfs diff=lfs merge=lfs -text
ioctlent2.h filter=lfs diff=lfs merge=lfs -text
netlink_inet_diag.c filter=lfs diff=lfs merge=lfs -text
netlink_route.h filter=lfs diff=lfs merge=lfs -text
netlink_selinux.c filter=lfs diff=lfs merge=lfs -text
rtnl_link.c filter=lfs diff=lfs merge=lfs -text
xstring.h filter=lfs diff=lfs merge=lfs -text
printrusage.c filter=lfs diff=lfs merge=lfs -text
rtc.c filter=lfs diff=lfs merge=lfs -text
rtnl_neightbl.c filter=lfs diff=lfs merge=lfs -text
strace-graph filter=lfs diff=lfs merge=lfs -text
fetch_struct_stat.c filter=lfs diff=lfs merge=lfs -text
hostname.c filter=lfs diff=lfs merge=lfs -text
ioprio.c filter=lfs diff=lfs merge=lfs -text
mx32_type_defs.h filter=lfs diff=lfs merge=lfs -text
native_defs.h filter=lfs diff=lfs merge=lfs -text
perf.c filter=lfs diff=lfs merge=lfs -text
statfs.c filter=lfs diff=lfs merge=lfs -text
rtnl_nsid.c filter=lfs diff=lfs merge=lfs -text
uid16.c filter=lfs diff=lfs merge=lfs -text
error_prints.h filter=lfs diff=lfs merge=lfs -text
fetch_bpf_fprog.c filter=lfs diff=lfs merge=lfs -text
get_robust_list.c filter=lfs diff=lfs merge=lfs -text
number_set.h filter=lfs diff=lfs merge=lfs -text
ptp.c filter=lfs diff=lfs merge=lfs -text
rtnl_route.c filter=lfs diff=lfs merge=lfs -text
strace-log-merge.1 filter=lfs diff=lfs merge=lfs -text
ChangeLog-CVS filter=lfs diff=lfs merge=lfs -text
compile filter=lfs diff=lfs merge=lfs -text
config.h filter=lfs diff=lfs merge=lfs -text
delay.c filter=lfs diff=lfs merge=lfs -text
inotify_ioctl.c filter=lfs diff=lfs merge=lfs -text
ioctl_iocdef.h filter=lfs diff=lfs merge=lfs -text
file_handle.c filter=lfs diff=lfs merge=lfs -text
statfs64.c filter=lfs diff=lfs merge=lfs -text
sysent.h filter=lfs diff=lfs merge=lfs -text
lookup_dcookie.c filter=lfs diff=lfs merge=lfs -text
printsiginfo.h filter=lfs diff=lfs merge=lfs -text
stat64.c filter=lfs diff=lfs merge=lfs -text
util.c filter=lfs diff=lfs merge=lfs -text
chmod.c filter=lfs diff=lfs merge=lfs -text
fallocate.c filter=lfs diff=lfs merge=lfs -text
fcntl.c filter=lfs diff=lfs merge=lfs -text
fetch_struct_flock.c filter=lfs diff=lfs merge=lfs -text
mmap_notify.h filter=lfs diff=lfs merge=lfs -text
print_time.c filter=lfs diff=lfs merge=lfs -text
uid.c filter=lfs diff=lfs merge=lfs -text
uname.c filter=lfs diff=lfs merge=lfs -text
count.c filter=lfs diff=lfs merge=lfs -text
fadvise.c filter=lfs diff=lfs merge=lfs -text
membarrier.c filter=lfs diff=lfs merge=lfs -text
netlink.c filter=lfs diff=lfs merge=lfs -text
netlink_sock_diag.c filter=lfs diff=lfs merge=lfs -text
numa.c filter=lfs diff=lfs merge=lfs -text
shutdown.c filter=lfs diff=lfs merge=lfs -text
swapon.c filter=lfs diff=lfs merge=lfs -text
execve.c filter=lfs diff=lfs merge=lfs -text
kernel_types.h filter=lfs diff=lfs merge=lfs -text
strace-log-merge.1.in filter=lfs diff=lfs merge=lfs -text
term.c filter=lfs diff=lfs merge=lfs -text
configure.ac filter=lfs diff=lfs merge=lfs -text
ioctl.c filter=lfs diff=lfs merge=lfs -text
ioctlent0.h filter=lfs diff=lfs merge=lfs -text
nbd_ioctl.c filter=lfs diff=lfs merge=lfs -text
prctl.c filter=lfs diff=lfs merge=lfs -text
time.c filter=lfs diff=lfs merge=lfs -text
depcomp filter=lfs diff=lfs merge=lfs -text
evdev_mpers.c filter=lfs diff=lfs merge=lfs -text
native_printer_defs.h filter=lfs diff=lfs merge=lfs -text
reboot.c filter=lfs diff=lfs merge=lfs -text
scno.h filter=lfs diff=lfs merge=lfs -text
defs.h filter=lfs diff=lfs merge=lfs -text
print_timespec.c filter=lfs diff=lfs merge=lfs -text
README-linux-ptrace filter=lfs diff=lfs merge=lfs -text
dirent64.c filter=lfs diff=lfs merge=lfs -text
kcmp.c filter=lfs diff=lfs merge=lfs -text
keyctl.c filter=lfs diff=lfs merge=lfs -text
mount.c filter=lfs diff=lfs merge=lfs -text
native_printer_decls.h filter=lfs diff=lfs merge=lfs -text
netlink_unix_diag.c filter=lfs diff=lfs merge=lfs -text
print_aio_sigset.c filter=lfs diff=lfs merge=lfs -text
print_dev_t.c filter=lfs diff=lfs merge=lfs -text
README filter=lfs diff=lfs merge=lfs -text
rtnl_addrlabel.c filter=lfs diff=lfs merge=lfs -text
rtnl_dcb.c filter=lfs diff=lfs merge=lfs -text
sysmips.c filter=lfs diff=lfs merge=lfs -text
upeek.c filter=lfs diff=lfs merge=lfs -text
mmap_notify.c filter=lfs diff=lfs merge=lfs -text
basic_filters.c filter=lfs diff=lfs merge=lfs -text
fetch_struct_stat64.c filter=lfs diff=lfs merge=lfs -text
process_vm.c filter=lfs diff=lfs merge=lfs -text
sendfile.c filter=lfs diff=lfs merge=lfs -text
stat.c filter=lfs diff=lfs merge=lfs -text
getcwd.c filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
printmode.c filter=lfs diff=lfs merge=lfs -text
fs_x_ioctl.c filter=lfs diff=lfs merge=lfs -text
kexec.c filter=lfs diff=lfs merge=lfs -text
netlink_netlink_diag.c filter=lfs diff=lfs merge=lfs -text
netlink_packet_diag.c filter=lfs diff=lfs merge=lfs -text
statx.h filter=lfs diff=lfs merge=lfs -text
tests-m32 filter=lfs diff=lfs merge=lfs -text
ustat.c filter=lfs diff=lfs merge=lfs -text
xlat.c filter=lfs diff=lfs merge=lfs -text
clone.c filter=lfs diff=lfs merge=lfs -text
nsfs.c filter=lfs diff=lfs merge=lfs -text
rt_sigframe.c filter=lfs diff=lfs merge=lfs -text
sg_io_v3.c filter=lfs diff=lfs merge=lfs -text
sigaltstack.c filter=lfs diff=lfs merge=lfs -text
sigevent.h filter=lfs diff=lfs merge=lfs -text
signalfd.c filter=lfs diff=lfs merge=lfs -text
xlat filter=lfs diff=lfs merge=lfs -text
xmalloc.h filter=lfs diff=lfs merge=lfs -text
capability.c filter=lfs diff=lfs merge=lfs -text
config.guess filter=lfs diff=lfs merge=lfs -text
file_ioctl.c filter=lfs diff=lfs merge=lfs -text
statfs.h filter=lfs diff=lfs merge=lfs -text
affinity.c filter=lfs diff=lfs merge=lfs -text
keyctl_kdf_params.h filter=lfs diff=lfs merge=lfs -text
mx32_printer_defs.h filter=lfs diff=lfs merge=lfs -text
nsfs.h filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
pathtrace.c filter=lfs diff=lfs merge=lfs -text
print_sigevent.c filter=lfs diff=lfs merge=lfs -text
statx.c filter=lfs diff=lfs merge=lfs -text
umount.c filter=lfs diff=lfs merge=lfs -text
xlat.h filter=lfs diff=lfs merge=lfs -text
mpers.sh filter=lfs diff=lfs merge=lfs -text
mpers_test.sh filter=lfs diff=lfs merge=lfs -text
rtnl_neigh.c filter=lfs diff=lfs merge=lfs -text
sched_attr.h filter=lfs diff=lfs merge=lfs -text
strace.spec filter=lfs diff=lfs merge=lfs -text
unwind-libdw.c filter=lfs diff=lfs merge=lfs -text
unwind-libunwind.c filter=lfs diff=lfs merge=lfs -text
gen_bpf_attr_check.sh filter=lfs diff=lfs merge=lfs -text
mmap_cache.h filter=lfs diff=lfs merge=lfs -text
sockaddr.c filter=lfs diff=lfs merge=lfs -text
fetch_struct_msghdr.c filter=lfs diff=lfs merge=lfs -text
hdio.c filter=lfs diff=lfs merge=lfs -text
ioctlent1.h filter=lfs diff=lfs merge=lfs -text
nsig.h filter=lfs diff=lfs merge=lfs -text
access.c filter=lfs diff=lfs merge=lfs -text
aclocal.m4 filter=lfs diff=lfs merge=lfs -text
filter_qualify.c filter=lfs diff=lfs merge=lfs -text
ioctlsort.c filter=lfs diff=lfs merge=lfs -text
oldstat.c filter=lfs diff=lfs merge=lfs -text
print_fields.h filter=lfs diff=lfs merge=lfs -text
regs.h filter=lfs diff=lfs merge=lfs -text
test-driver filter=lfs diff=lfs merge=lfs -text
times.c filter=lfs diff=lfs merge=lfs -text
empty.h filter=lfs diff=lfs merge=lfs -text
missing filter=lfs diff=lfs merge=lfs -text
netlink_kobject_uevent.h filter=lfs diff=lfs merge=lfs -text
print_statfs.c filter=lfs diff=lfs merge=lfs -text
riscv.c filter=lfs diff=lfs merge=lfs -text
seccomp.c filter=lfs diff=lfs merge=lfs -text
socketutils.c filter=lfs diff=lfs merge=lfs -text
v4l2.c filter=lfs diff=lfs merge=lfs -text
bpf_filter.c filter=lfs diff=lfs merge=lfs -text
fetch_struct_xfs_quotastat.c filter=lfs diff=lfs merge=lfs -text
m32_printer_decls.h filter=lfs diff=lfs merge=lfs -text
m32_printer_defs.h filter=lfs diff=lfs merge=lfs -text
mpers_xlat.h filter=lfs diff=lfs merge=lfs -text
msghdr.c filter=lfs diff=lfs merge=lfs -text
string_to_uint.h filter=lfs diff=lfs merge=lfs -text
sync_file_range.c filter=lfs diff=lfs merge=lfs -text
chdir.c filter=lfs diff=lfs merge=lfs -text
inotify.c filter=lfs diff=lfs merge=lfs -text
mx32_printer_decls.h filter=lfs diff=lfs merge=lfs -text
print_group_req.c filter=lfs diff=lfs merge=lfs -text
rtnl_netconf.c filter=lfs diff=lfs merge=lfs -text
sysent_shorthand_defs.h filter=lfs diff=lfs merge=lfs -text
sys_func.h filter=lfs diff=lfs merge=lfs -text
delay.h filter=lfs diff=lfs merge=lfs -text
f_owner_ex.h filter=lfs diff=lfs merge=lfs -text
m4 filter=lfs diff=lfs merge=lfs -text
print_sg_req_info.c filter=lfs diff=lfs merge=lfs -text
resource.c filter=lfs diff=lfs merge=lfs -text
umask.c filter=lfs diff=lfs merge=lfs -text
copy_file_range.c filter=lfs diff=lfs merge=lfs -text
ipc_msg.c filter=lfs diff=lfs merge=lfs -text
ipc_sem.c filter=lfs diff=lfs merge=lfs -text
number_set.c filter=lfs diff=lfs merge=lfs -text
rtnl_tc.c filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
fchownat.c filter=lfs diff=lfs merge=lfs -text
netlink_smc_diag.c filter=lfs diff=lfs merge=lfs -text
strace.1 filter=lfs diff=lfs merge=lfs -text
macros.h filter=lfs diff=lfs merge=lfs -text
nlattr.h filter=lfs diff=lfs merge=lfs -text
error_prints.c filter=lfs diff=lfs merge=lfs -text
netlink_netfilter.c filter=lfs diff=lfs merge=lfs -text
alpha.c filter=lfs diff=lfs merge=lfs -text
bpf_filter.h filter=lfs diff=lfs merge=lfs -text
unwind.h filter=lfs diff=lfs merge=lfs -text
COPYING filter=lfs diff=lfs merge=lfs -text
mmsghdr.c filter=lfs diff=lfs merge=lfs -text
mpers.awk filter=lfs diff=lfs merge=lfs -text
scsi.c filter=lfs diff=lfs merge=lfs -text
trace_event.h filter=lfs diff=lfs merge=lfs -text
bpf_seccomp_filter.c filter=lfs diff=lfs merge=lfs -text
caps1.h filter=lfs diff=lfs merge=lfs -text
flock.h filter=lfs diff=lfs merge=lfs -text
gcc_compat.h filter=lfs diff=lfs merge=lfs -text
msghdr.h filter=lfs diff=lfs merge=lfs -text
socketcall.c filter=lfs diff=lfs merge=lfs -text
configure filter=lfs diff=lfs merge=lfs -text
ipc_defs.h filter=lfs diff=lfs merge=lfs -text
mpers.am filter=lfs diff=lfs merge=lfs -text
net.c filter=lfs diff=lfs merge=lfs -text
rtnl_mdb.c filter=lfs diff=lfs merge=lfs -text
ipc.c filter=lfs diff=lfs merge=lfs -text
ipc_shmctl.c filter=lfs diff=lfs merge=lfs -text
Makefile.am filter=lfs diff=lfs merge=lfs -text
stat.h filter=lfs diff=lfs merge=lfs -text
desc.c filter=lfs diff=lfs merge=lfs -text
eventfd.c filter=lfs diff=lfs merge=lfs -text
m32_funcs.h filter=lfs diff=lfs merge=lfs -text
NEWS filter=lfs diff=lfs merge=lfs -text
pkeys.c filter=lfs diff=lfs merge=lfs -text
sen.h filter=lfs diff=lfs merge=lfs -text
dm.c filter=lfs diff=lfs merge=lfs -text
epoll.c filter=lfs diff=lfs merge=lfs -text
io.c filter=lfs diff=lfs merge=lfs -text
rt_sigreturn.c filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
upoke.c filter=lfs diff=lfs merge=lfs -text
block.c filter=lfs diff=lfs merge=lfs -text
Makefile.in filter=lfs diff=lfs merge=lfs -text
print_mac.c filter=lfs diff=lfs merge=lfs -text
print_msgbuf.c filter=lfs diff=lfs merge=lfs -text
strace.c filter=lfs diff=lfs merge=lfs -text
netlink_sock_diag.h filter=lfs diff=lfs merge=lfs -text
perf_event_struct.h filter=lfs diff=lfs merge=lfs -text
poll.c filter=lfs diff=lfs merge=lfs -text
xmalloc.c filter=lfs diff=lfs merge=lfs -text
bpf_sock_filter.c filter=lfs diff=lfs merge=lfs -text
futex.c filter=lfs diff=lfs merge=lfs -text
generate_sen.sh filter=lfs diff=lfs merge=lfs -text
ioctl_redefs1.h filter=lfs diff=lfs merge=lfs -text
INSTALL filter=lfs diff=lfs merge=lfs -text
ioctl_redefs2.h filter=lfs diff=lfs merge=lfs -text
print_mq_attr.c filter=lfs diff=lfs merge=lfs -text
rtnl_addr.c filter=lfs diff=lfs merge=lfs -text
kvm.c filter=lfs diff=lfs merge=lfs -text
sched.c filter=lfs diff=lfs merge=lfs -text
sysctl.c filter=lfs diff=lfs merge=lfs -text
syslog.c filter=lfs diff=lfs merge=lfs -text
btrfs.c filter=lfs diff=lfs merge=lfs -text
evdev.c filter=lfs diff=lfs merge=lfs -text
fetch_struct_keyctl_kdf_params.c filter=lfs diff=lfs merge=lfs -text
fetch_struct_mmsghdr.c filter=lfs diff=lfs merge=lfs -text
loop.c filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_BSD filter=lfs diff=lfs merge=lfs -text
mx32_funcs.h filter=lfs diff=lfs merge=lfs -text
netlink_crypto.c filter=lfs diff=lfs merge=lfs -text
sysent_shorthand_undefs.h filter=lfs diff=lfs merge=lfs -text
bind.c filter=lfs diff=lfs merge=lfs -text
getrandom.c filter=lfs diff=lfs merge=lfs -text
listen.c filter=lfs diff=lfs merge=lfs -text
m32_type_defs.h filter=lfs diff=lfs merge=lfs -text
unwind.c filter=lfs diff=lfs merge=lfs -text
arch_defs.h filter=lfs diff=lfs merge=lfs -text
negated_errno.h filter=lfs diff=lfs merge=lfs -text
netlink.h filter=lfs diff=lfs merge=lfs -text
open.c filter=lfs diff=lfs merge=lfs -text
readlink.c filter=lfs diff=lfs merge=lfs -text
signal.c filter=lfs diff=lfs merge=lfs -text
sock.c filter=lfs diff=lfs merge=lfs -text
ioperm.c filter=lfs diff=lfs merge=lfs -text
link.c filter=lfs diff=lfs merge=lfs -text
mmap_cache.c filter=lfs diff=lfs merge=lfs -text
printsiginfo.c filter=lfs diff=lfs merge=lfs -text
ptrace.h filter=lfs diff=lfs merge=lfs -text
retval.c filter=lfs diff=lfs merge=lfs -text
string_to_uint.c filter=lfs diff=lfs merge=lfs -text
utimes.c filter=lfs diff=lfs merge=lfs -text
bpf_attr.h filter=lfs diff=lfs merge=lfs -text
fstatfs.c filter=lfs diff=lfs merge=lfs -text
install-sh filter=lfs diff=lfs merge=lfs -text
ldt.c filter=lfs diff=lfs merge=lfs -text
scno.head filter=lfs diff=lfs merge=lfs -text
bpf_attr_check.c filter=lfs diff=lfs merge=lfs -text
CREDITS filter=lfs diff=lfs merge=lfs -text
dirent.c filter=lfs diff=lfs merge=lfs -text
flock.c filter=lfs diff=lfs merge=lfs -text
ioctl_iocdef.c filter=lfs diff=lfs merge=lfs -text
memfd_create.c filter=lfs diff=lfs merge=lfs -text
print_struct_stat.c filter=lfs diff=lfs merge=lfs -text
syscall.c filter=lfs diff=lfs merge=lfs -text
ubi.c filter=lfs diff=lfs merge=lfs -text
